/* 공통 */
.treeTopBarArea{width: 100%; height: 6%;   } 
.Container{width: 100%; height: 100%; margin-left: 50px; margin-top: 2.4%;}

/* 오른쪽 화면 */
.treeParant{width: 49.5%; height: 93%; background-color: #fff; border: 1px solid #fff; margin-top: 0.3%; margin-left: 0.3%; }
.TopBarBox{width: 100%;height: 70%;  display: flex; margin-top: 1%;  }
.TobBarText{font-size: 1.3rem; margin-left: 5%; font-weight: bold; width: 30%; }
.searchArea{width: 90%; height: 5.5%; margin: 0 auto;  }
input:focus {outline:none;}
.searchBox{ background-color: #F3F3F5; width: 50%; height: 75%; border: 1px solid #999999; display: flex; }
.searchBox input {margin-left: 5%; width: 88%; background-color: #F3F3F5; border: 1px solid #F3F3F5; }
.searchIcon{width: 10%; background-color: white; border: white;}
.searchIcon:active{width: 10%; background-color: white; border:1px solid #ddd;}
.searchImg{width: 20px; padding: 1px;}
.TobBarRight{ display: flex;  width: 100%; }
.inputSelectEquipments{margin-top: 1.5%; margin-left: 2.5%; margin-left: 57%; }
.inputSelectEquipment{margin-top: 1.5%; margin-left: 2.5%;  }
.labelSelectEquipment{margin-top: 0.9%; margin-left: 1%;}
.buttonSelectEquipment{margin-left: 1.5%; background-color: #6693d7;border-color: #6693d7; color: #fff; width: 60px;}
.buttonSelectEquipment:hover{background-color: #3f7bd4; border: 1px solid #5c8fdb}

/* 왼쪽 화면 */
.treeLeft{margin-left: 15px;}
.treeParantLift{width: 49.5%; height: 93%; background-color: #fff; border: 1px solid #fff; margin-top: 0.3%; margin-left: 0.3%; }
.TopBarBoxLeft{width: 100%;height: 70%;  display: flex; margin-top: 1%;  }
.TobBarTextLeft{font-size: 1.3rem; margin-left: 5%; font-weight: bold; width: 30%;     }
.buttonSelectEquipmentSize{ display: flex; margin-left: 43%;}
.buttonSelectEquipmentLeft{   width: 60px; border: 1px solid #6693D7; background-color: #fff;  color: #6693D7; font-size: 0.9em; border-radius: 0;  margin-left: 2%;}
.buttonSelectEquipmentLeft:hover{background-color: #6693D7; border: 1px solid #6693D7}
.buttonSelectEquipmentLeftTwo{  width: 60px; border: 1px solid #29363d; background-color: #fff;  color: #29363d; font-size: 0.9em; border-radius: 0;  margin-left: 2%;}
.buttonSelectEquipmentLeftTwo:hover{background-color: #29363d; border: 1px solid #29363d; color: #fff;}
.buttonSelectEquipmentPosition{border: 1px solid red; position: fixed; margin-left: 6.5%; }

.ag-theme-alpine .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) { height:  28px; margin-left: 1px;}
.ag-theme-alpine .ag-root-wrapper{border: 0px;}
.ag-theme-alpine .ag-header-row{border-top: 1px solid #333 !important;}
.ag-theme-alpine div.ag-row { font-size: 13px !important; }
.ag-theme-alpine input[class^=ag-][type=text] { min-height: 0px;  padding: 0; }
.ag-theme-alpine .ag-cell{line-height: 25px !important;}
.ag-header-cell-text{ font-size: 0.9em;}
.ag-cell-value, .ag-group-value{font-size: 1em;}
.spanCheckbox{font-size: 16px; font-family: "agGridAlpine"; border-radius: 3px; padding: 1px; }
.inputCheckbox{ padding: 5px; 	display: inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid red;
	cursor: pointer;
  margin-top: 1px;
}
/* .ag-group-checkboxs{} */
