/** 공통 **/
.historyContainer{width: 100%; height: 100%; background-color: #E5E4EA; overflow: hidden; margin-left: 50px; margin-top: 2.4%;}

/** 검색 상단 **/
.historyFilterContainer{width: 99.5%; height: 20%;  background-color: #fff; margin-left: 0.25%;}
.historyFilterBoxArea{ width: 99.5%; height: 76%; margin:0.2% 0 0 0.2%; border: 1px solid #c2cfd6;}
.historyFilterBoxLeft{ width: 100%; height: 28%; border-bottom: 1px solid #c2cfd6; display: flex; }
.historyFilterTitle{width: 9%; height: 100%; border-right: 1px solid #c2cfd6; background-color:#F5F3F4; display: flex;}
.historyFilterText{ font-weight: bold; width: 90%; margin-top: 4.5%; margin-left: 3%; font-size: 0.9em; }
.historyFilterSearchArea{width: 91%; height: 100%; display: flex; }
.historyFilterSearchBox{ width: 98%; height: 80%; border: 1px solid #c2cfd6; margin: 0.2% 0 0 0.2%; display: flex; }
.historyFilterSearch{ width: 4%; height: 100%; background-color: white; font-size: 0.9em; border: 1px solid #c2cfd6; }

.historyFilterBoxLeftSecond{width: 100%; height: 40%; border-bottom: 1px solid #c2cfd6; display: flex; }
.historyFilterTextSecond{ font-weight: bold; width: 90%; margin-top: 8%; margin-left: 3%; font-size: 0.9em;  }
.historyFilterBoxLeftThird{ width: 100%; height: 32%; border-bottom: 1px solid #c2cfd6; display: flex;}
.historyFilterTextThird{ font-weight: bold; width: 90%; margin-top: 7%; margin-left: 3%; font-size: 0.9em; }
.historyMiddleSelectBtnSpace{ height: 20%; width: 100%; text-align: center; margin-top: 0.2%; }
.historyMiddleSelectBtn{   border: 1px solid #29363d; background-color: #29363d; color: white;}
.historyMiddleSelectBtn:hover {border:1px solid black; background-color: black; color: white;}
.historyMiddleReloadBtn{ float: right; color: #6693D7; background-color: white; border: 1px solid #6693D7; margin-right: 0.3%;}
.historyMiddleReloadBtn:hover{background-color: #6693D7; border: 1px solid #6693D7}
.historyUserSelect{ width: 100%; height: 20px;}

.css-tj5bde-Svg{display:none !important;}
.css-1rhbuit-multiValue{background-color: #737C8B !important; margin: 0 !important; margin-bottom:15px !important; margin-right: 10px !important; margin-left: -6px !important; height: 23px !important; }
.css-12jo7m5{ color: white !important; }
.css-1wa3eu0-placeholder{top:35% !important; }
.css-9jizcr-control{border-radius: 0px !important;}
.historyMiddleContainer{width: 99.5%; height: 4.3%; background-color: #E5E4EA; margin-left: 0.25%;}
.histroyModel{ width: 1000px; height: 525px;}
.userModel{ max-width: 50vw; }
.historyFooter{ text-align: center;  width: 100%; padding:1%}
.historyhideBtn{background-color: #ddd;border: 1px solid #ddd;color:black; }
.historyhideBtn:hover{background-color: rgb(233, 222, 222); border: 1px solid #ddd; color: black;} 
.historyActiveBtn{ border: 1px solid #6693D7; background-color: #6693D7;  color: #fff; font-size: 1em; margin-right: 1%;}
.historyActiveBtn:hover{background-color: #3f7bd4; border: 1px solid #5c8fdb}

.historyFilterInput{width: 100%; height: 80%; line-height: 50px; margin-left: 0.5%; }

/** Ag-grid History **/
.histroyExcelArea{width: 100%; height: 6%;  background-color: #fff; text-align: right;}
.historyExcelText{background-color: #fff; color: black; border: 1px solid black; font-size: 0.9em;}
.historyExcelText:hover{background-color: black; color: white; border: 1px solid black; font-size: 0.9em;}
.historyAggridContainer{width: 99.5%; height: 70%;  background-color: #fff; margin-left: 0.25%;}

/** Ag-grid Calendar **/

.calendarAreaYear{ width: 15%; height: 60%; border: 1px solid #c2cfd6; margin-top: 0.5%; margin-left: 0.5%; background-color: #f0f3f5; display: flex; }
.calendarInput{ margin-top: 1%; margin-left: 1%; height: 80%; width: 90%; border: 0; font-size: 0.9em; }
.calendarIcon{background-color: white; border: 0;}
.calendarIconStyle{margin-bottom: 5px;}
.calendarStyle{margin-left:270px;  }

.calendarTimeArea{ width: 8%; height: 60%; border: 1px solid #c2cfd6; margin-top: 0.5%; margin-left: 0.5%; background-color: #f0f3f5; display: flex;}
.DateMiddle{ width: 1%;  margin-top: 0.5%; margin-left: 1%; }
.react-datepicker{z-index: 1; position: absolute !important;}
.saturday { color: rgb(0, 0, 255) !important; } 
.sunday { color: rgb(255, 0, 0) !important; }
.timeEachBtn{ width: 2%;height: 60%; border: 1px solid #6693D7; background-color: #fff;  color: #6693D7; font-size: 0.8em; margin-top: 0.5%; margin-left: 0.5%;  }
.timeEachBtn:hover{background-color: #6693D7; border: 1px solid #6693D7; color:white }
.timeEachBtnActive{background-color: #6693D7; border: 1px solid #6693D7; color:white; width: 2%;height: 60%;font-size: 0.8em; margin-top: 0.5%; margin-left: 0.5%;  }