/* 등록 && 수정 모달 */
.header-Area {background-color: #282363;}
.list_square{color: #ccc; margin-right: .5rem; font-size: 0.1rem;  }
.list_square_Two{color: #ccc; margin-right: .5rem; font-size: 0.1rem;  margin-left: 10px; }

.header_Text {color: #fff; font-size: 1.1em;  }
.mb-3{position:relative;}
.CategoryBox{height: 280px; }
.checkRadio{margin: 0 15px;}
.activeCheck{margin-top: 6px;}
.SettingBtn{height: 40px; width: 138px;margin-top: 17px;border:1px solid #c2cfd6;}
.NumberBtn{height: 40px; width: 56px;margin-top: 17px; border:1px solid #c2cfd6;margin-left: 5px; } 
.SelectTools{border:1px solid #c2cfd6; width: 550px; height: 38px; padding: 5px; }
/* .CheckBox{display:grid;  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;} */
.radioBox{ font-weight: bold;  font-size: 0.8em; width: 510px; }  
.CatagoryFont{padding:10px; display: inline-flex; margin-right: 2.7%;}
/* .item{padding:20px; border: 1px solid blue;} */

.TimeLabel{ margin-top: 17px; height: 40px; margin-right: 15px;  }
.TimeBox{border:1px solid #c2cfd6; height: 80px; width: 98%; margin-left: 1px; margin-bottom: 2%; }
.TimeFont{font-weight: bold; width: 40%;}

.HardwareLabel{width: 35%; height: 15%; margin-top: 3%; } 
.HardwareTitle{margin-top: 2%;}
.TimeBoxSecond{ border:1px solid #c2cfd6; height: 120px; width: 98%; margin-left: 1px;  }
.TimeBoxSecondBox{border: 1px blue;margin-left: 2%; margin-bottom: 20px; }
.systemSort{width: 11%; margin-top: 3%; margin-right: 8px;}
.systemSortDisk{width: 6%;margin-top: 3%; }
.systemSortNic{width: 5%;margin-top: 3%; }
.systemSortSensor{width: 8%;margin-top: 3%;}

.ButtonArea{border: 1px solid #c2cfd6; text-align: center;  width: 100%; padding:1%}
.ButtonAreaTwo{text-align: center;  width: 100%; padding:1%}
.saveBtnBox{background-color: #6693d7; }
.saveBtn{background-color: #6693d7;border: 1px solid #6693d7; color: #fff; padding: 1%; width: 10%;margin-right: 1%;}
.saveBtn:hover{background-color: #3f7bd4; border: 1px solid #5c8fdb}
.hideBtn{background-color: #ddd;border:1px solid #ddd;color:black; padding: 1%; width: 10%;}
.hideBtn:hover{background-color: rgb(233, 222, 222); border: 1px solid #ddd; color: black;} 

/* 업로드 모달 */
.modal-content{margin-top: 20%; width: 90%;margin-left: 7%; }
.container{margin-left: 3%;  width: 660px;}
.mb-3{display: flex;}
.fileArea{ width: 70%; height: 20%; }
.fileInput{padding: 0.375rem 0.75rem; font-size: 0.9em; }
.row>* { padding-left: 0; }
.mb-4{display: flex; position: relative; flex-wrap:nowrap}
.formArea{ width: 65%; }
.formBtn{border-radius: 0; background-color: #6693d7;border-color: #6693d7; color: #fff;}
.formBtn:hover{background-color: #3f7bd4; border: 1px solid #5c8fdb}
.formFont{font-size: 0.8em;}

/* 추가 && 수정 모달 */
.header_area_add{background-color: #282363; padding: 0.5rem; } 
.header_add{color: #fff; font-size: 1.1em;margin-left: 80px; display: flex;}
.changeBtn{background-color: #6693d7;border-color: #6693d7; color: #fff; padding: 1%; margin-right: 1%; width: 50px;border: 1px solid #5c8fdb;}
.changeBtn:hover{background-color: #3f7bd4; border: 1px solid #5c8fdb}
.addGroupInput{ border: 1px solid #ddd; width: 150px; height: 25px;   margin-left: 1%;}
.addHideArea{margin-left: 65px; width: 30px; height: 100%;  }
.addBtnHide{ border-radius: 50%; border:1px solid #282363; background-color: #282363; color:white;  width: 25px; height: 25px; }
.addSpanHide{ color: white; font-weight: bold; }
