.reportResourceContainer{width: 100%; height: 100%; background-color: #E5E4EA;  margin-left: 50px; margin-top: 2.4%;}

/* 보고서 title */
.reportHighTitleArea{ width: 99.5%; height: 4.3%;  background-color: white; display: flex; margin-left: 0.25%;}
.reportHighButton{ height: 100%;  background-color: white; border: 0;  padding: 10px; margin-left: 0.5%;  }
.reportHighButtonAction{ height: 100%; padding: 10px; background-color: white; border: 0;  border-bottom: 5px solid #20a8d8; margin-left: 0.5%;}
.reportHighLabel{ color:black; font-size: 0.8em; font-weight: bold;}
.reportHighLabel:hover{ color:rgb(117, 109, 109); font-size: 0.8em; font-weight: bold;}
.reportHighLabelAction{ color:#20a8d8; font-size: 0.8em; font-weight: bold;  }

/* 보고서 filter */
.reportFilterArea{ width: 99.5%; height: 17%;  background-color: white;  margin-left: 0.25%; padding: 0.25rem !important;  }
.reportFilterBox{width: 99.5%; height: 75%; border: 1px solid #c2cfd6; margin-left: 0.25%;  }
.reportFilterFirstDiv{width: 100%; height: 33.3%; border-bottom: 1px solid #c2cfd6;  display: flex;}
.reportFilterFirstDivThird{width: 100%; height: 33.3%;  display: flex;}
.reportFilterLeftBox{width: 10%; height: 100%; border-right: 1px solid #c2cfd6; padding: 0.35rem; background-color: #F5F3F4;  }
.reportFilterLeftText{ font-weight: bold; font-size: 0.9em;}
.reportFilterRightBox{ width: 90%; height: 100%; padding: 0.25rem;  padding: 0.25rem; }
.reportFilterRightBoxSecond{display: flex;  border: 1px solid #c2cfd6; }
.reportFilterRightBoxThird{ width: 90%; height: 100%; padding: 0.25rem;  padding: 0.25rem; display: flex; }
.reportFilterSearch{ width: 4%; height: 100%; font-size: 0.8em; border: 1px solid #c2cfd6; background-color: white; }
.reportFilterSearchSecond{ width: 4%; height: 100%; font-size: 0.8em; border: 1px solid #c2cfd6; background-color: #F3F3F5; color: rgb(180, 180, 180) }
.reportFilterScroll{ width: 100%; height: 25px; overflow-y: scroll; background-color: hsl(0, 0%, 95%); }
.reportFilterSelect{ width: 100%; height: 20px; font-size: 0.8em;}
.css-4tzcfa-control{border-radius: 0px !important; border: 0px !important;}

/* 보고서 filter calendar */
.reportCalendarYear{ width: 13%; height: 100%; border: 1px solid #c2cfd6;  background-color: #F3F3F5; display: flex; padding: 0.2rem; }
.reportCalendarInput{ height: 100%; width: 90%; border: 0; font-size: 0.9em; }
.reportCalendarIcon{background-color: #F3F3F5; border: 0;}
.reportCalendarIconStyle{margin-bottom: 10px;}
.reportCalendarTimeArea{ width: 8%; height: 100%; border: 1px solid #c2cfd6; margin-left: 0.5%; background-color: #f0f3f5; display: flex;}
.reportCalendarDateMiddle{  margin-left: 1%; }
.reportFilterSelectBox{ height: 35%; width: 100%; text-align: center; margin-top: 0.2%;  }
.reportFilterSelectBtn{  font-size: 0.9em; border: 1px solid #29363d; background-color: #29363d; color: white; border-radius: 0;}
.reportFilterSelectBtn:hover {border:1px solid black; background-color: black; color: white;}
.reportFilterReloadBtn{font-size: 0.9em; float: right; color: #6693D7; background-color: white; border: 1px solid #6693D7; margin-right: 0.3%; border-radius: 0;}
.reportFilterReloadBtn:hover{background-color: #6693D7; border: 1px solid #6693D7}

/* 보고서 filter button*/
.reportFilterButtonBox{text-align: center; margin-right: 4%;}
.input-group-addon{padding: 0.375rem 0.75rem; margin-bottom: 0; font-size: 0.8rem; color:#3e515b; font-weight: bold; }
.reportFilterButtonBtn{
  border-top: 25px solid #fff;
   border-left: 1px solid transparent; 
   border-right: 15px solid transparent; 
   border-left: 15px solid transparent; 
   border-bottom: none;
  background: none;
  padding-left: 0.5rem;
  display: inline-flex;
  height: 0;
  width: 100px;
  }
.reportFilterLabel{ margin-top: -1.7rem; }

/* 보고서 출력 */
.reportOutputBox { width: 90%; height: 4%;  display: flex; margin-left: 1%;}
.reportOutputButton{ background-color: white; color: #6693D7; border: 1px solid #6693D7;  border-radius: 0; margin-right: 0.5%; font-size: 0.9em;}
.reportOutputButton:hover{ background-color: #3f7bd4; color: #fff; border: 1px solid #6693D7;  border-radius: 0; margin-right: 0.5%; font-size: 0.9em;}

.reportChartParent{ width: 100%;  background-color: #E5E4EA; padding-left: 0.5rem; padding-top: 0.5rem;}
.reportChartArea{ width: 98.5%; background-color: white;  padding: 1.1rem;   } 
.reportChartBox{  display: flex;  }
.highcharts-credits{display: none;}



.reportChartMaxSelect{  width: 100%;  }
.reportChartInput{margin-top: 4%; background-color: #E5E4EA; float: right; margin-right: 2%;}
.reportChartLabel{font-size: 0.9em;  float: right; margin-top: 1%; margin-right: 6%;}
.reportChartSelect{float: right; margin-left: 3%;}
.diagramChartSelect{width: 100%; background-color: #F3F3F5; border-color: #ddd; font-size: 0.9em; }

/* 보고서 자원 model */
.reportModelHw{margin-top: -5%;}

/* 보고서 장비 model */
.reportDeviceBar{ margin-bottom: 1%;}
.reportModelDevice{  background-color: white; border: 0;  padding: 5px; margin-right: 2%;  }
.reportModelDeviceAction{  padding: 5px; background-color: white; border: 0;  border-bottom: 5px solid #20a8d8; margin-right: 2%;}
.reportModelDeviceLabel{ color:black; font-size: 1em; }
.reportModelDeviceLabel:hover{ color:rgb(117, 109, 109); font-size: 1em; }
.reportModelDeviceLabelAction{ color:#20a8d8; font-size: 1em;}

.reportHwFooter{ text-align: center;  width: 100%; padding:1%; margin-top: 10px; border-top: 1px solid #ddd; }
.reportDeviceFooter{ text-align: center;  width: 100%; padding:1%; margin-top: 10px; border-top: 1px solid #ddd; }
.reporthideBtn{background-color: #ddd;border: 1px solid #ddd;color:black; }
.reporthideBtn:hover{background-color: rgb(233, 222, 222); border: 1px solid #ddd; color: black;} 
.reportActiveBtn{ border: 1px solid #6693D7; background-color: #6693D7;  color: #fff; font-size: 1em; margin-right: 1%;}
.reportActiveBtn:hover{background-color: #3f7bd4; border: 1px solid #5c8fdb}
.reportDeviceSelect{ width: 100%; height: 20px;}
.diagram_model_body{padding: 1rem 1rem 1rem 2rem !important}

/* Hight Chart */
.highcharts-tooltip-box { fill: #222 !important; fill-opacity: 0.6 !important; stroke-width: 0 !important; }
.highcharts-tooltip text { fill: white !important; text-shadow: 0 0 3px black !important; }
.grid-cell-left { text-align: center; }

/* .reportChartTotalArea{ border:1px solid red; } */
.reportChartTotalBox{  margin-top: 1%; margin-left: 1%; background-color: white; border: 0; border-bottom: 1px solid black;}
.reportChartTotalText{font-size: 0.9em; font-weight: bold;}
.reportChartTotalText:hover{font-size: 0.9em; font-weight: bold; color:rgb(116, 116, 116)}
.reportChartTotalGrid{ margin-top: 1%; margin-left: 0.5%;}

/* footer */
.reportFooter{height: 100px; width: 100%; background-color: #E5E4EA; }

.reportFilterReloadBtnPDF{margin-left: 1%; font-size: 0.9em; color: #6693D7; background-color: white; border: 1px solid #6693D7; margin-top: 0.5%; border-radius: 0;}
.reportFilterReloadBtnPDF:hover{background-color: #6693D7; border: 1px solid #6693D7}



