
label {
  display: block;
  margin-top: 10px;
}

/** 상단 바 **/
.ContainerBox{width: 1920px; height: 939px;  }
.rootNavBarArea{ width: 100%; height: 5%;  background-color: #2d2c33; display: flex;}
.rootNavBarTitle{color: white; font-size: 1.5em; text-decoration: none; margin-left: 2%; }
.rootNavBarTitle:hover{color: white; font-size: 1.5em; text-decoration: none; margin-left: 2%; }
.rootNavBar{ width: 30%; height: 100%; display: flex; }
.rootNavBarList{ margin-top: 1.8%; }
.rootNavBarText{color: #93939b; text-decoration: none;}
.rootNavBarText:hover{color: #93939b; text-decoration: none;}
.rootNavBarLogin{margin-left: 50%;  width: 10%; height: 100%; display: flex;}
.rootNavBarListLogin{ margin-top: 5%; margin-left: 10%; }
.rootNavBarTextLogin{color: #93939b; text-decoration: none; }
.rootNavBarTextLogin:hover{color: #93939b; text-decoration: none;}


/* .sideBarAreas{ height: 10%; width: 2.5%; border: 1px solid red;} */

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.show-grid{
  border-width: 3;
  border-color: blue;
}
.textArea {margin-left: 50px;}
.ml-auto{margin-left: auto; margin-right: 30px;}
.navbar{border: 1px solid red; height: 10%;}
.navbar-brand{margin-left: 30px;}
.jumbotron {width: 1250px; height: 300px; background-color: #eceaea;}
.navbarSize{height: 10%;}